html, body {
	margin: 0;
	padding: 0;
	font-family: verdana;
}

.convertor-frame {
	width: 788px;
	height: 392px;
	background-color: #5fbcd3;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -196px -394px;
	padding: 0 78px;
	box-sizing: border-box;
}

h1 {
	color: #fff;
	margin: 45px auto;
	font-size: 38px;
	text-align: center;
	font-weight: normal;
}

#path5019 {
	fill: #fff !important;
}

input {
	text-align: right;
}

.fromSelection, .toSelection {
	font-size: 20px;
    color: #4d4d4d;
    padding: 3px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 6px;
    z-index: 10;
}

.fromSelection {
	position: relative;
    top: 0;
    left: 0;
}

.toSelection {
	position: relative;
    top: 0;
    right: -60px;
}

.fromSelection:focus, .toSelection:focus {
	border-color: #2fb2d4;
	outline: 0 none;
} 

.convertFrom, .convertTo {
	font-size: 20px;
    color: #4d4d4d;
    padding: 3px 10px;
    height: 37px;
    max-width: 215px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #cecece;
    border-radius: 6px;
    -webkit-box-shadow:inset 0 0 12px #bfbfbf;
    -moz-box-shadow:inset 0 0 12px #bfbfbf;
    box-shadow:inset 0 0 12px #bfbfbf;
}

.convertFrom {
	position: relative;
    top: 0;
    left: -10px;
    margin-left: -5px;
}

.convertTo {
	position: relative;
    top: 0;
    right: -50px;
}

.convertFrom:focus, .convertTo:focus {
	border-color: #2fb2d4;
	background-color: #d4f6ff;
	outline: 0 none;
    -webkit-box-shadow: inset 0 0 13px 5px #66e0ff;
    -moz-box-shadow: inset 0 0 13px 5px #66e0ff;
    box-shadow: inset 0 0 13px 5px #66e0ff;
}

.error-message {
	color: #f60a0c;
	visibility: hidden;

}

.buttonReset {
	width: 174px;
	height: 39px;
	margin: 0 0 0 -87px;
	font-size: 20px;
	position: absolute;
	left: 50%;
	color: #fff;
	background-color: #2c89a0;
	border: 1px solid #2c89a0;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}

.buttonReset:hover {
	border: 1px solid #216778;
}

.buttonReset:focus {
	outline: 0 none;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -59px -22px;
    cursor: pointer;
}

@media screen and (max-width: 810px) {
	.convertor-frame {
		width: 300px;
		height: 500px;
		margin: -250px -150px;
		padding: 0;
	}
	.convertFrom, .convertTo{
		max-width: 220px;
	}
	.convertFrom {
		margin: 0;
		left: 0;
	}
	.convertTo {
		right: -73px;
	}
	.fromSelection {
    	position: relative;
    	top: 0;
    	left: 9px;
	}
	.toSelection {
	    position: relative;
	    top: 37px;
	    left: -32px;
	}
	.image {
	    position: relative;
	    top: 0;
	    left: 44%;
	    margin: 16px 0 10px 0;
	    transform: rotate(-90deg);
	}
	.error-message {
	    padding-left: 11px;
	}	
	.buttonReset {
		width: 94%;
		left: 3%;
		margin: 0;
		bottom: 81px;
	}

}

@media screen and (max-height: 530px) {
	.convertor-frame {
		top: 0;
	    margin: 0px -150px;
	}
}
